@import url(https://fonts.googleapis.com/css?family=Raleway:300,700,800);

body{
	font: 16px/1.58 'Raleway', sans-serif;
	color:  #262626;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}
h1 {
	font-size: 100px;
}
h2 {
	font-size: 90px;
}
h3 {
	font-size: 40px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 12px;
}
a,
input[type="submit"],
input[type="button"],
button{
	color: #262626;
	text-decoration: none;
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	height: 55px;
	line-height: 55px;
	padding: 0 26px;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-button:active {
	position: relative;
	top: 1px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	color: #262626;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
/* INTRO part */
.ba-intro {
	position: relative;
	background: #F7F6F9 url(../img/intro-background.jpg) 50% no-repeat;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 70px;
}
.ba-menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.ba-menu a {
	float: left;
	display: block;
	position: relative;
	text-decoration: none;
	font-weight: 700;
	color:  #262626;
	padding: 4px 20px;
}
@media (min-width: 959px) {
	.ba-menu a:after {
		content: '';
		position: absolute;
		width: 60%;
		left: 20%;
		bottom: 100%;
		height: 4px;
		background-color:  #ff6033;
		transition: opacity 0.3s, transform 0.3s;
		opacity: 0;
		transform: translateY(-10px);
	}
	.ba-menu a:hover:after {
		opacity: 1;
		transform: translateY(0px);
	}
}
.ba-header {
	margin-bottom: 230px;
}
.ba-intro-text {
	max-width: 370px;
	padding-bottom: 330px;
}
.ba-intro-text__title {
	margin: 0;
	font-size: 60px;
	font-weight: 800;
}
.ba-intro-text p {
	margin: 0;
	font-size: 17px;
	margin-bottom: 28px;
}
.ba-button--intro {
	background-color: #FF6033;
}
.ba-intro-scroll {
	display: block;
	left: 50%;
	bottom: 60px;
	margin-left: -32px;
	position: absolute;
	width: 30px;
	height: 44px;
	background: url(../img/scroll.png) 100% 50% no-repeat;
}
.ba-intro-scroll:active {
	bottom: 59px;
}
/* ABOUT part */
.ba-about {
	padding: 30px 0 20px;
	color: #FFF;
	background-color:  #00c4c4;
	background: radial-gradient(circle farthest-side at 50%, rgba(0, 196, 196, 0.9) 0%, rgba(0, 183, 183, 0.9) 31%, rgba(0, 173, 173, 0.9) 67%, rgba(0, 156, 156, 0.9) 100%);
}
.ba-about__img {
	margin-left: -45px;
}
.ba-about-text {
	padding-top: 122px;
}
.ba-about-text__title {
	margin: 0;
	word-wrap: break-word;
}
.ba-about-text p {
	margin: 0;
	margin-bottom: 10px;
}
/* SERVICES part */
.ba-service {
	background: #70BFFF  url(../img/tomato.png) 76% 50% no-repeat;
	padding: 92px 0 134px;
}
.ba-services {
	margin: 0;
	padding: 0;
	text-align: center;
}

.ba-services__item {
	max-width: 400px;
	height: 100px;
	list-style: none;
	background-color: #FFF;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
	line-height: 1.3;
	font-size: 0;
}
.ba-services__title {
	width: calc(100% - 100px);
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.ba-services__icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-position: 50%;
	background-repeat: no-repeat;
	border-left: 1px solid #9D9D9D;
	vertical-align: middle;
}
.ba-services__icon--shop {
	background-image: url(../img/icons/trolley.png);
}
.ba-services__icon--prod {
	background-image: url(../img/icons/hand.png);
}
.ba-services__icon--del {
	background-image: url(../img/icons/earth.png);
}
.ba-services__icon--org {
	background-image: url(../img/icons/carrot.png);
}
.ba-service__title {
	color: #FFF;
	padding: 211px 0 211px 20px;
	margin: 0;
	word-wrap: break-word;
}
@media (min-width: 980px) {
	.ba-services {
		padding: 95px 0 0 92px;
	}
}

/* GALLERY part */
.ba-grid > [class*="ba-width-"] {
	float: left;
	padding-left: 25px;
}

.ba-grid {
	margin-left: -25px;
}
.ba-gallery {
	padding: 62px 0 115px;
	background-color:  #ffe92f;
	text-align: center;
}
.ba-gallery__title {
	margin: 0;
}
.ba-gallery__text {
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 55px;
}
.ba-gallery__img {
	display: block;
	width: 100%;
	background-color: #00c4c4;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-gallery__img--blu {
	margin-bottom: 30px;
}
.ba-button--gallery {
	margin-top: 58px;
	background-color: #5585a2;
	padding: 0 43px;
}
/* SUBSCRIBE part */
.ba-subscribe {
	background: #fff url(../img/bg-sub.jpg) 50% no-repeat;
	background-size: cover;
	padding: 93px 0 165px;
}
.ba-subscribe-area {
	max-width: 570px;
	margin-bottom: 22px;
}
.ba-subscribe__title {
	font-size: 40px;
	margin-bottom: 0;
}
.ba-subscribe__form {
	white-space: nowrap;
}
.ba-subscribe__field {
	width: 48%;
	padding: 16px 0 16px 10px;
	border: 1px solid #262626;
	vertical-align: middle;
	font-size: 15px;
	font-weight: 300;
	color: #32364B;
	margin-right: 25px;
}
.ba-subscribe__field:focus {
	outline: none;
	border-color: #96B92C;
}
.ba-button--subscribe {
	border: none;
	background-color: #96B92C;
	vertical-align: middle;
	padding: 0 35px;
}
.ba-button--subscribe:active {
	outline: none;
}
/* BLOG part */
.ba-blog {
	padding: 65px 0 120px;
	background-color:  #b07cf7;
	color: #FFF;
	text-align: center;
}
.ba-blog-title {
	margin: 0;
}
.ba-blog__text {
	max-width: 570px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.ba-blog__img {
	display: block;
	width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.ba-blog-item {
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: #FFF;
}
.ba-blog__time {
	position: absolute;
	top: 30px;
	left: 30px;
	border-radius: 5px;
	background-color:  rgba(38, 38, 38, 0.5);
	display: block;
	width: 60px;
	height: 60px;
	font-size: 32px;
	line-height: 1.1;
}
.ba-blog__time span {
	font-size: 21px;
	font-weight: 800;
	display: block;
	text-transform: uppercase;
}
.ba-blog-gradient {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 20px;
	background: linear-gradient(to top, #000, transparent);
}
.ba-blog__title {
	text-align: left;
	line-height: 1.4;
	margin: 0;
	margin-bottom: 15px;
	transition: all .3s ease;
}
.ba-blog__author {
	font-size: 13px;
	font-weight: 300;
	transition: all .3s ease;
	text-align: left;
	margin: 0;
}
.ba-button--blog {
	background-color:  #f72b3b;
	margin-top: 50px;
	padding: 0 40px;
}
.ba-blog-item:hover .ba-blog__title,
.ba-blog-item:hover .ba-blog__author {
	color: transparent;
	text-shadow: 0 0 2px #fff;
}
@media (max-width: 769px) {
	.ba-header {
		margin-bottom: 150px;
	}
	.ba-intro-text {
		padding-bottom: 100px;
	}
	.ba-about-text {
		padding-top: 0;
	}
	.ba-about-text__title {
		font-size: 75px;
	}
	.ba-service__title {
		background: none;
		padding: 200px 0 0 20px;
		font-size: 50px;
	}
	.ba-service {
		background: #70BFFF  url(../img/tomato.png) 100% 50% no-repeat;
	}
	.ba-blog__time {
		font-size: 20px;
		width: 40px;
		height: 40px;
	}
	.ba-blog__title {
		font-size: 15px;
	}
	.ba-blog__time span {
		font-size: 13px;
	}

}
@media (max-width: 960px) {
	.ba-menu {
		position: fixed;
		width: 200px;
		top: 0;
		right: 0;
		bottom: 0;
		background: #EFEAEE;
		z-index: 10;
		transform: translateX(100%);
	}
	.ba-menu a {
		float: none;
		padding: 10px 20px;
		border-bottom: 2px solid #b9b9b9;
	}
	.ba-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #FFF;
		opacity: 0;
		z-index: 2;
		visibility: hidden;
		transition: opacity .4s, visibility .4s;
	}
	body {
		transition: transform .4s;
	}
	.ba-menu-open {
		transform: translateX(-200px);
	}
	.ba-menu-open .ba-overlay {
		visibility: visible;
		opacity: 0.5;
	}
}
.ba-toggle{
	border: none;
	outline: none;
	line-height: 0;
	width: 30px;
	background: none;
	min-height: 0;
	padding: 0;
	box-shadow: none;
}
@media (min-width: 960px) {
	.ba-toggle{
		display: none;
	}
}
.ba-toggle:hover{
	background: none;
}
.ba-toggle__icon{
	margin: 10px 0;
	display: block;
	height: 4px;
	width: 100%;
	background: #262626;
	position: relative;
	transition: background 0s .4s;
}
.ba-toggle__icon:before,
.ba-toggle__icon:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #262626;
}
.ba-toggle__icon:before{
	transform: translateY(-10px);
}
.ba-toggle__icon:after{
	transform: translateY(10px);
}
/* CONTACTS part */
.ba-contacts {
	background: #FFF url(../img/bg-contact.jpg) 50% no-repeat;
	background-size: cover;
	padding: 65px 0 47px;
}
.ba-contacts__title {
	margin: 0;
	text-align: center;
}
.ba-contacts__text {
	max-width: 370px;
	margin: 0 auto;
	margin-bottom: 43px;
}
.ba-contact-form__field {
	display: block;
	width: 85%;
	border: none;
	color: #fff;
	background-color:  rgba(0, 196, 196, 0.5);
	padding: 16px;
	margin-bottom: 15px;
	border-left: 5px solid transparent;
	font-size: 15px;
	font-weight: 300;
}
.ba-contact-form__field:focus {
	background-color:  #00c4c4;
	outline: none;
	border-left: 5px solid #355b82;
}
.ba-button--contact {
	background-color: rgba(0, 196, 196, 0.5);
	border: none;
	padding: 0 45px;
}
.ba-button--contact:focus {
	outline: none;
}
.ba-contact-form__field::-webkit-input-placeholder {
	color:#fff;
}
.ba-contact-info {
	font-size: 20px;
	font-weight: 300;
	margin-left: 50px;
}
.ba-address__title {
	display: block;
	font-size: 17px;
	font-weight: 700;
}
.ba-contact-info a {
	text-decoration: none;
	word-wrap: break-word;
}
.ba-contact-info p {
	margin: 0;
}
/* FOOTER part */
.ba-footer {
	background-color: #262626;
	padding: 16px 0 16px;
	color: #FFF;
}
.ba-footer a {
	color:  #ff2b58;
}
.ba-footer a:hover {
	color:  #b9b9b9;
}
.ba-footer p {
	color:  #b9b9b9;
	font-size: 15px;
	font-weight: 300;
}
.ba-footer img {
	margin-top: 13px;
}



.ba-grid > [class*="ba-width-"] {
	padding-left: 30px;
	padding-top: 30px;
}
.ba-grid {
	margin-left: -30px;
	margin-top: -30px;
}

